
$primary: blue !default;

.basic-input-style {
	color: inherit;
    background: color-mix(in lab, currentColor 4%, transparent);
    border: 1px solid color-mix(in lab, currentColor 18%, transparent);
}