<template>

    <div class="avatar-image" :style="style">
    </div>
</template>
<script>
export default {
	props:{
		id:{
			type:[Object, String],
		},
		cacheKey:{
			type:[String, Number],
		}
	},
	data() {
		return {
			stringID:this.$sdk.utils.id(this.id),
		}
	},
	watch:{
		id(id) {
			this.stringID = this.$sdk.utils.id(id);
		}
	},
	computed:{
		url() {

			const params = {};

			if(this.cacheKey) {
				params.cacheKey = this.cacheKey;
			}
			
			return this.$sdk.api.generateEndpointURL(`/image/${this.stringID}`, params, {file:true});
		},
		style() {

			const style = {};

			style.backgroundImage = `url(${this.url})`;

			return style;
		}
	}
}
</script>
<style lang="scss">
.avatar-image {
	width:100%;
    display: block;
    border-radius: 100%;
    height:0;
    padding-bottom:100%;
    background-color: color-mix(in lab, currentColor 5%, transparent);
    background-size:cover;
    background-position: center center;
}
</style>